
app/UI/bin/Debug/
app/UI/obj/Debug/

app/UnitTestProject1/bin/Debug/
app/UnitTestProject1/obj/Debug/

app/Model/bin/Debug/
app/Model/obj/Debug/

app/DataAccessLayer_/bin/Debug/
app/DataAccessLayer_/obj/Debug/

app/ApplicationLogicLayer/bin/Debug/
app/ApplicationLogicLayer/obj/Debug/